<o-form-layout-manager attr="GameSetting" mode="tab" title="GAMESETTING">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="GameSettingTable" 
            service="GameSetting" 
            entity="GameSetting" 
            title="GAMESETTING"
            keys="id"
            columns="id;game_id;difficulty;max_score" 
            header-actions="R;D"
            visible-columns="id;game_id;difficulty;max_score"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="game_id" title="game_id">
    <o-table-cell-renderer-service attr="game_id" 
        service="Game" entity="GameType" columns="id;id"
        parent-keys="id:game_id"
        value-column="id" keys="game_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #difficulty attr="difficulty" title="difficulty" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #max_score attr="max_score" title="max_score" type="integer" editable="no" required="yes" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>