<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="id" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="BallMovement_form_edit" 
        service="BallMovement" 
        entity="BallMovement" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-integer-input #id attr="id" label=" id*" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-list-picker 
        attr="game_id"
        service="Game" 
        entity="GameType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="id" 
        value-column-type="INTEGER"  
        keys="id" 
        columns="id;game_id;id" 
        title="game_id"
        visible-columns="id;id" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
      <o-date-input #timestamp attr="timestamp" type="timestamp" label="timestamp" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-text-input #position_x attr="position_x" label="position_x" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #position_y attr="position_y" label="position_y" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>